.d2mh {
  
  background-repeat: no-repeat;
  display: inline-block;
  width: 32px;
  height: 32px;
}

/* Define specific styles for Marci, Primal Beast, and Muerta */
.hero-136 {
  background-image: url(./icons/Marci_icon.webp) /* Update with the correct path */
}

.hero-137 {
  background-image: url(./icons/Primal_Beast_icon.webp); /* Update with the correct path */
}

.hero-138 {
  background-image: url(./icons/Muerta_icon.webp); /* Update with the correct path */
}

/* App.css */

body {
  background-color: #1a1a1a;
  color: #fff;
}

.hero-list {
  list-style-type: none;
  padding: 0;
}

.hero-list li {
  padding: 20px 0;
  border-bottom: 1px solid #333; /* Darker border color */
}

.hero {
  display: flex;
  align-items: center;
}

.hero-icon {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.hero-info {
  flex-grow: 1;
}

.hero-info h2 {
  margin: 0;
}

.hero-stats {
  color: #ccc; /* Lighter text color */
}

/* Green win rate line for positive win rate */
.win-rate-bar {
  background-color: #333; /* Darker background color */
  height: 8px; /* Adjust height as needed */
  border-radius: 4px; /* Rounded corners */
  overflow: hidden; /* Hide overflowing content */
}

.win-rate-fill {
  height: 100%;
  background-color: #4caf50; /* Green color for positive win rate */
}